.searchBox {
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    background-color: #04aa6d;
    height: 3rem;
}

input {
    font-size: large;
    width: 60%;
    padding: 1rem;
}

button {
    background-color: white;
    border:0;
}
